{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block head %}
<style>.marginimg{
    margin: 3px;
}</style>
<script>
    function funds() {
        var ui =document.getElementById("aaa");
        ui.style.display="none";
        var ui1 =document.getElementById("bbb");
        ui1.style.display="block";
    }
</script>
{% endblock %}
{% block main1 %}
	<div id="aaa" class="col-md-6 col-md-offset-5 ">
	<img src="../static/images/dashang.jpg">
	<div style="font-size: 30px;margin: 20px 50px;">
	<button onclick="funds()">请打赏哦，下次打赏？</button>
	</div>
	</div>
<div id="bbb" style="display:none">
        <h3 style="text-align: center;">{{ picture_name }}</h3>
    <div class="container">
        {% for picture1 in picture_list %}
            <div class="col-md-8 col-md-offset-2 "><img class="marginimg thumbnail" src="../static/images/{{ picture_name }}/{{ picture1 }}" alt="" ></div>
        {% endfor %}
    </div>
</div>
{% endblock %}
